.quick-access-container .quick-access-solution .quick-access-solution-icon {
    height: 2.625rem;
    width: 2.625rem;
    background-color: #0000;
    border-radius: 0;
    margin-top: 0;
    margin-left: 1rem;
    margin-right: .75rem;
}